<% if session[:admin] %>
  <table>
    <thead>
      <tr>
        <th colspan="2"><h1 class="heading">Editando Registro</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= form_with(model: @registro, url: registro_path(@registro), local: true, method: :patch) do |form| %>
            <%= form.label :nome %>
            <%= form.text_field :nome %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="button-group">
            <p><%= link_to 'Atualizar Registro', '#', onclick: 'event.preventDefault(); document.querySelector("form").submit();' %></p>
          </div>
          <div class="button-group">
            <p><%= link_to 'Voltar para Lista de Registros', registros_path %></p>
          </div>
        </td>
          <% end %>
      </tr>
    </tbody>
  </table>
<% end %>
